{% extends 'base.html.twig' %}
{% block title %}Les individus{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4"><i class="fas fa-user"></i>&nbsp;&nbsp;Tous les individus</h1>
        <div class="row items-align-center">
            {% for user in users %} 
                <div class="col-md-4">
                    {% include 'admin/user/_user.card.html.twig' %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %} 
